*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

//
.bg {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.9;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.techLaw {
  position: absolute;
  top: 20%;
  right: 50px;
}
.vector,
.vector1 {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  & > li {
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
  }
  & > .active {
    font-weight: bold;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
.btn__meet {
  background-color: #0d90c2;
  padding: 20px 30px;
  cursor: pointer;
}

.about > .overlay {
  height: 750px;
}
.about-item {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-80%, -50%);
  display: flex;
  gap: 50px;
  -webkit-transform: translate(-80%, -50%);
  -moz-transform: translate(-80%, -50%);
  -ms-transform: translate(-80%, -50%);
  -o-transform: translate(-80%, -50%);
}
.girl {
  position: absolute;
  bottom: 0;
  right: 40px;
}
.about_info {
  z-index: 9999999999999;
  position: absolute;
  bottom: 130px;
  left: 70px;
  color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
}

.sign {
  font-family: "Mrs Saint Delafield", cursive;
}
.role {
  font-size: 12px;
}
.service {
  background-color: #fff;
  z-index: 11111111111 !important;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.service-title {
  width: 400px;
}
.service-item {
  & > i {
    color: #0d90c2;
    margin-right: 10px;
  }
  & > span {
    font-weight: bold;
  }
}
//
.blogs {
  width: 90%;
  margin: 0 auto;
  &_top {
    width: 400px;
  }

  &_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  &_item {
    width: 25%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    & h4 {
      font-size: 18px;
    }
    & p {
      font-size: 14px;
      text-transform: capitalize;
    }
    & > .btn {
      background-color: #0d90c2;
      padding: 5px 10px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

.partners {
  width: 80%;
  margin: 0 auto;
}
.footer {
  height: 400px;
  position: relative;
  & img {
    position: absolute;
    bottom: 0;
  }
  &_menu {
    & .menu_list {
      color: #fff;
      display: flex;
      justify-content: center;
      list-style-type: none;
      gap: 80px;
      padding-top: 80px;
    }
    & .menu_item {
      & > h5 {
        margin-bottom: 30px;
      }
      & > span {
        display: block;
        font-weight: 300;
        margin: 10px;
      }
      & input {
        width: 300px;
        height: 40px;
        padding: 5px 10px;
      }
      & .btn {
        background-color: #0d90c2;
        padding: 5px 10px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
